{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AVKIS-Web - Login{% endblock%}

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
   $("#language").val("{{language}}").change();
   var lang = $("#language").val();
   if (lang == 'english'){
     $("#password").prev().html('Password');
     $(".checkbox").html($(".checkbox").html().replace('Eingeloggt bleiben','Remember me'));
     }
   else if (lang == 'german'){
     $("#password").prev().html('Passwort');
     $(".checkbox").html($(".checkbox").html().replace('Remember me','Eingeloggt Bleiben'));
   }

   $( "#language" ).change(function() {
       lang = $("#language").val();
       if (lang == 'english'){
       $("#password").prev().html('Password');
       $(".checkbox").html($(".checkbox").html().replace('Eingeloggt bleiben','Remember me'));
       $(".germanhead").css('display','none');
       $(".englishhead").css('display','inline');
       }
       else if (lang == 'german'){
       $("#password").prev().prev().html('Passwort');
       $(".checkbox").html($(".checkbox").html().replace('Remember me','Eingeloggt Bleiben'));
       $(".germanhead").css('display','inline');
       $(".englishhead").css('display','none');
       }
     })
})
</script>
<div class="page-header">
	<h1>Login</h1>
</div>
<div class="col-md-4">
	{{ wtf.quick_form(form) }}
</div>
{% endblock %}
