{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AVKIS-Web - User Anlegen{% endblock%}

{% block page_content %}
<div class="page-header">
	<h1>User Anlegen</h1>
</div>
<div class="col-md-4">
	{{ wtf.quick_form(form) }}
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#submit").click(function(){
   username = $("#username").val();
   if(username.indexOf(' ') != -1){
      alert("Username should not contain spaces. ");
      return false;
      }
   })
  $("#language").val("{{language}}").change();
  lang = $("#language").val();
  if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
   else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
    $( "#language" ).change(function() {
   var lang = $("#language").val();
   $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
    lang = $("#language").val();
    if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
});
  })
</script>
{% endblock %}
