{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AVKIS - KI-Suche{% endblock %}

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
   var html = $("#german_state").html();
   $("#german_state").remove();
   $(".form").append(html);
   $("#language").val("{{language}}").change();
   var lang = $("#language").val();
    if (lang == 'english'){
        $("#german").css('display','none');
        $("#english").css('display','inline');
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        $(".aiddetail").html($(".aiddetail").html().replace('eingeben','Number'));
        $(".aiddetail").children().children().last().val('Send');
        }
    else if (lang == 'german'){
        $("#english").css('display','none');
        $("#german").css('display','inline');
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        $(".aiddetail").html($(".aiddetail").html().replace('Number','eingeben'));
        $(".aiddetail").children().children().last().val('Absenden');
        }

   $( "#language" ).change(function() {
   var lang = $("#language").val();
   $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
    if (lang == 'english'){
        $("#german").css('display','none');
        $("#english").css('display','inline');
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        $(".aiddetail").html($(".aiddetail").html().replace('eingeben','Number'));
        $(".aiddetail").children().children().last().val('Send');
        }
    else if (lang == 'german'){
        $("#english").css('display','none');
        $("#german").css('display','inline');
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        $(".aiddetail").html($(".aiddetail").html().replace('Number','eingeben'));
        $(".aiddetail").children().children().last().val('Absenden');
        }
});


   })
</script>

<div id="german">
<div class="page-header">
    <h1>AID eingeben</h1>
</div>
<div class="aiddetail">
    {{ wtf.quick_form(form) }}
</div>
<div class="page-text">
    <p>  <p>
    <p>Bitte die AID bzw. Crefonummer eingeben und dann "Absenden"<p>
</div>
    </div>
<div id="english" style="display:none">
<div class="page-header">
    <h1>AID number</h1>
</div>
<div class="aiddetail">
    {{ wtf.quick_form(form) }}
</div>
<div class="page-text">
    <p>  <p>Please enter AID respectively Crefo-No and then press \"Send<p>
</div><p>
</div>
<div id="german_state">
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
<input type="checkbox" name="Berlin_state" value="Berlin">&nbsp;&nbsp;BERLIN<br>
<input type="checkbox" name="Nordrhein-Westfalen_state" value="Nordrhein-Westfalen">&nbsp;&nbsp;NORDRHEIN-WESTFALEN<br>
<input type="checkbox" name="Brandenburg_state" value="Brandenburg">&nbsp;&nbsp;BRANDENBURG<br>
<input type="checkbox" name="Baden-Württemberg_state" value="Baden-Württemberg">&nbsp;&nbsp;BADEN-WURTTEMBERG<br>
<input type="checkbox" name="Bayern_state" value="Bayern">&nbsp;&nbsp;BAYERN<br>
<input type="checkbox" name="hamburg_state" value="Hamburg">&nbsp;&nbsp;HAMBURG<br>
<input type="checkbox" name="Niedersachsen_state" value="Niedersachsen">&nbsp;&nbsp;NIEDERSACHSEN<br>
<input type="checkbox" name="Hessen_state" value="Hessen">&nbsp;&nbsp;HESSEN
</div>
<div class="col-sm-6">
<input type="checkbox" name="Rheinland-Pfalz_state" value="Rheinland-Pfalz">&nbsp;&nbsp;RHEINLAND-PFALZ<br>
<input type="checkbox" name="Sachsen_state" value="Sachsen">&nbsp;&nbsp;SACHSEN<br>
<input type="checkbox" name="Schleswig-Holstein_state" value="Schleswig-Holstein">&nbsp;&nbsp;SCHLESWIG-HOLSTEIN<br>
<input type="checkbox" name="saarland_state" value="Saarland">&nbsp;&nbsp;SAARLAND<br>
<input type="checkbox" name="Bremen_state" value="Bremen">&nbsp;&nbsp;BREMEN<br>
<input type="checkbox" name="Mecklenburg-Vorpommern_state" value="Mecklenburg-Vorpommern">&nbsp;&nbsp;MECKLENBURG-VORPOMMERN<br>
<input type="checkbox" name="Sachsen-Anhalt_state" value="Sachsen-Anhalt">&nbsp;&nbsp;SACHSEN-ANHALT<br>
<input type="checkbox" name="thuringia_state" value="Thüringen">&nbsp;&nbsp;THURINGIA
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        TYPE&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="range_type" name="range_type">
                        <option value="umsatz" selected>Umsatz</option>
                        <option value="mitarbeiter">Mitarbeiter</option>
                    </select></li>
        <br><br>
    FROM RANGE&nbsp;&nbsp;<input type="text" value="from_range" name="from_range"><br><br>
        TO RANGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="to_range" name="to_range">
        </div>
</div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
