{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AVKIS - KI-Suche{% endblock %}

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
   if ("{{is_admin}}"){

   if("{{language}}" == "german"){
   var admin_tab = $("#admin_tab_german").html();
   $(admin_tab).insertAfter("#language")
   }
   else{
   var admin_tab = $("#admin_tab_english").html();
   $(admin_tab).insertAfter("#language")
   }
   }
   $("#admin_tab_german").remove();
   $("#admin_tab_english").remove();
   var html = $("#search_criteria").html();
   $("#search_criteria").remove();
   $(".form").append(html);
   $("#language").val("{{language}}").change();
   var lang = $("#language").val();
    if (lang == 'english'){
        $("#german").css('display','none');
        $("#english").css('display','inline');
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        $(".aiddetail").html($(".aiddetail").html().replace('eingeben','Number'));
        $(".aiddetail").children().children().last().val('Send');
        $("#submit").val("Submit");
        }
    else if (lang == 'german'){
        $("#english").css('display','none');
        $("#german").css('display','inline');
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        $(".aiddetail").html($(".aiddetail").html().replace('Number','eingeben'));
        $(".aiddetail").children().children().last().val('Absenden');
        $("#submit").val("Absenden");
        }

   $( "#language" ).change(function() {
   var lang = $("#language").val();
   $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
    if (lang == 'english'){
        $("#german").css('display','none');
        $("#english").css('display','inline');
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        $(".aiddetail").html($(".aiddetail").html().replace('eingeben','Number'));
        $(".aiddetail").children().children().last().val('Send');
        $("#submit").val("Submit");
        }
    else if (lang == 'german'){
        $("#english").css('display','none');
        $("#german").css('display','inline');
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        $(".aiddetail").html($(".aiddetail").html().replace('Number','eingeben'));
        $(".aiddetail").children().children().last().val('Absenden');
        $("#submit").val("Absenden");
        }
});
    var idleTime = 0;
    function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 20) {
        $.ajax({
          type: "GET",
          dataType: 'json',
          async: false,
          cache: false,
          url: "/auto_logout/",
          data:{
          },
          success: function(e){
                              }
    });
        window.location.reload();
    }
    }
    var idleInterval = setInterval(timerIncrement, 60000);
    $(document).mousemove(function(event){
        idleTime = 0;
    });
    $(document).keypress(function(event){
        idleTime = 0;
    });

    $('input[type=file]').change(function () {
        alert("mdskamdas");
        alert(this.files[0].mozFullPath);
    });

   if ("{{autofill_val}}"){
     $("#suchworte").val("{{autofill_val}}");
    }

   })



</script>
<div id="german">
<div class="page-header">
    <h1>AID eingeben</h1>
</div>
<div class="aiddetail">
    {{ wtf.quick_form(form) }}
</div>
<div class="page-text">
    <p>  <p>
    <p>Bitte die AID bzw. Crefonummer eingeben und dann "Absenden"<p>
</div>
    </div>
<div id="english" style="display:none">
<div class="page-header">
    <h1>AID number</h1>
</div>
<div class="aiddetail">
    {{ wtf.quick_form(form) }}
</div>
<div class="page-text">
    <p>  <p>Please enter AID respectively Crefo-No and then press \"Send<p><br><br>
</div><p>
</div>

{% if is_admin %}
<li class="dropdown" id="admin_tab_german">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Datenbank &oumlffnen</a></li>
            <li><a href="/Datenbank_Zeigen">Datenbank anzeigen</a></li>
            <li><a href="/Datenbank_Summary">Datenbank Summary</a></li>
            <li><a href="/Create_Stopwords">Stopw&oumlrter erzeugen</a></li>
            <li><a href="{{url_for("auth.register")}}">User anlegen</a></li>
            <li><a href="/auth/change_password">Change Password</a></li>
            <li><a href="/auth/logout">Logout ({{ user }})</a></li>
        </ul>
    </li>
<li class="dropdown" id="admin_tab_english">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration2 <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Open Database</a></li>
            <li><a href="/Datenbank_Zeigen">Show Database</a></li>
            <li><a href="/Datenbank_Summary">Database Summary</a></li>
            <li><a href="/Create_Stopwords">Show Stop Words</a></li>
            <li><a href="{{url_for("auth.register")}}">Create User</a></li>
            <li><a href="/change_password">Change Password</a></li>
            <li><a href="/auth/logout">Logout ({{ user }})</a></li>
        </ul>
    </li>
{% endif %}

<div id="search_criteria">
    {% if screen != 'analysieren' %}
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
<input type="checkbox" name="Berlin_state" value="Berlin">&nbsp;&nbsp;BERLIN<br>
<input type="checkbox" name="Nordrhein-Westfalen_state" value="Nordrhein-Westfalen">&nbsp;&nbsp;NORDRHEIN-WESTFALEN<br>
<input type="checkbox" name="Brandenburg_state" value="Brandenburg">&nbsp;&nbsp;BRANDENBURG<br>
<input type="checkbox" name="Baden-Württemberg_state" value="Baden-Württemberg">&nbsp;&nbsp;BADEN-WURTTEMBERG<br>
<input type="checkbox" name="Bayern_state" value="Bayern">&nbsp;&nbsp;BAYERN<br>
<input type="checkbox" name="hamburg_state" value="Hamburg">&nbsp;&nbsp;HAMBURG<br>
<input type="checkbox" name="Niedersachsen_state" value="Niedersachsen">&nbsp;&nbsp;NIEDERSACHSEN<br>
<input type="checkbox" name="Hessen_state" value="Hessen">&nbsp;&nbsp;HESSEN
</div>
<div class="col-sm-6">
<input type="checkbox" name="Rheinland-Pfalz_state" value="Rheinland-Pfalz">&nbsp;&nbsp;RHEINLAND-PFALZ<br>
<input type="checkbox" name="Sachsen_state" value="Sachsen">&nbsp;&nbsp;SACHSEN<br>
<input type="checkbox" name="Schleswig-Holstein_state" value="Schleswig-Holstein">&nbsp;&nbsp;SCHLESWIG-HOLSTEIN<br>
<input type="checkbox" name="saarland_state" value="Saarland">&nbsp;&nbsp;SAARLAND<br>
<input type="checkbox" name="Bremen_state" value="Bremen">&nbsp;&nbsp;BREMEN<br>
<input type="checkbox" name="Mecklenburg-Vorpommern_state" value="Mecklenburg-Vorpommern">&nbsp;&nbsp;MECKLENBURG-VORPOMMERN<br>
<input type="checkbox" name="Sachsen-Anhalt_state" value="Sachsen-Anhalt">&nbsp;&nbsp;SACHSEN-ANHALT<br>
<input type="checkbox" name="thuringia_state" value="Thüringen">&nbsp;&nbsp;TH&UumlRINGEN
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <b><u>YEAR</u> :<br><br>
            {% for each_year in last_5_years %}
            <input type="checkbox" value={{each_year}} name={{"years"+each_year}}>{{each_year}}
            {% endfor %}
            <br><br>
            <input type="radio" name="all_any" value="all" checked>ALL
            <input type="radio" name="all_any" value="any" >ANY
        <br><br>
        &nbsp;&nbsp;<b><u>UMSATZ</u></b>
        <br><br>
    FROM RANGE&nbsp;&nbsp;<input type="text" value="" name="from_range_umsatz" id="from_range_umsatz"><br><br>
        TO RANGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" name="to_range_umsatz" id="to_range_umsatz">
        </div>
    <br><br>
    <div class="col-sm-3">
        &nbsp;&nbsp;<b><u>MITERBEITER</u></b>
        <br><br>
    FROM RANGE&nbsp;&nbsp;<input type="text" value="" name="from_range_mitarbeiter" id="from_range_mtarbeiter"><br><br>
        TO RANGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" name="to_range_mitarbeiter" id="to_range_mtarbeiter">
        </div>
</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
