﻿{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <title>AVKIS-Web - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
      <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.autocomplete.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.autocomplete.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">

  </head>
  <body>

{% block navbar %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
    $( "#language" ).change(function() {
    var lang = $("#language").val();
    $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
})
})

</script>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AVKIS - Web</a>
            
        </div>
        <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="germanhead"><a href="/Einzelanzeige">1. Mandant analysieren</a></li>
                    <li class="germanhead"><a href="/KI_Suche">2. KI-Suche</a></li>
                    <li class="germanhead"><a href="/KI_Export">3. Suchergebnis exportieren</a></li>
                    <li class="germanhead"><a href="/KI_Check">X4. KI-Liste prüfen</a></li>
                    <li class="germanhead"><a href="/Nexxt_Change">X5. nexxt-change</a></li>

                    <li class="englishhead" style="display:none"><a href="/Einzelanzeige">1. Analyse Client</a></li>
                    <li class="englishhead" style="display:none"><a href="/KI_Suche">2. Investor Search</a></li>
                    <li class="englishhead" style="display:none"><a href="/KI_Export">3. Export Search Result</a></li>
                    <li class="englishhead" style="display:none"><a href="/KI_Check">X4. Validate Inversor List</a></li>
                    <li class="englishhead" style="display:none"><a href="/Nexxt_Change">X5. nexxt-change</a></li>
                    <li style="margin-top:13px;margin-left:10px">
                        <k style="color:white">Preferred Language</k>
                    <select id="language" name="language">
                        <option value="german" selected>German</option>
                        <option value="english">English</option>
                    </select></li>
		    {% block admin %}
		    {% endblock %}
                </ul>

            <ul class="nav navbar-nav navbar-right">


            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% block page_content %} {% endblock %}
</div>
{% endblock %}

  </body>
</html>