{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AVKIS-Web - Change Password{% endblock%}

{% block page_content %}
<div id="changed">Password changed successfully.</div>
<div id="change_pwd_link">Link has been sent to your email address</div>
<div id="change_pwd" style="display:none">
   <div class="page-header">
        <h1>Change Password</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.password2) }}
        <input type="submit" id="Submit" value="Submit" name="Submit" class="btn btn-default"/>
    </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#email").val("{{current_user.email}}");
            if ("{{type}}" == 'change_pwd'){
            $("#change_pwd").css('display','inline');
            $("#change_pwd_link").css('display','none');
            $("#changed").css('display','none');
            }
            else if("{{type}}" == 'change_pwd_link'){
            $("#change_pwd").css('display','none');
            $("#change_pwd_link").css('display','inline');
            $("#changed").css('display','none');
            }

            $("#Submit").click(function(){
            var pass = $("#password").val();
            var pass2 = $("#password2").val();
            if (!pass || !pass2){
             alert("Enter Password / Confirm Password");
             }
            else if (pass != pass2){
             alert("Password and Confirm Password should b same");
             }
             else{
               var pass = $("#password").val();
               $.ajax({
                      type: "GET",
                      dataType: 'json',
                      async: true,
                      cache: false,
                      url: "/auth/change_password/",
                      data:{
                      'pass':pass,
                      },
                      success: function(e){
                      alert("Password changed sucessfully");
                                          }
                });
                $("#change_pwd").css('display','none');
                $("#change_pwd_link").css('display','none');
                $("#changed").css('display','inline');
               }
               })
            })
    </script>
{% endblock %}