﻿{% extends "base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type="text/javascript">
$(document).ready(function(){
     $("#language").val("{{language}}").change();
   var lang = $("#language").val();
    if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }

     $( "#language" ).change(function() {
   var lang = $("#language").val();
   $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
    lang = $("#language").val();
    if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
});

     })
</script>
<div class="container">
    <div class="page-header">
        <h1>AVANDIL - Datenbankübersicht</h1>
        {%if datenbank %}
            <p>Datenbank: {{datenbank}}</p>
            {%if records %}
                <p>Datensätze: {{records}}</p>
            {%endif%}
        {%else%}
            <p>Keine Datenbank ausgew&aumlhlt</p>
        {%endif%}
        <h2>Bundesländer</h2>
        <p>Ohne Angabe:            {{land["Ohne"]}}</p>
        <p>Baden-Württemberg:      {{land["Baden-Württemberg"]}}</p>
        <p>Bayern:                 {{land["Bayern"]}}</p>
        <p>Berlin:                 {{land["Berlin"]}}</p>
        <p>Brandenburg:            {{land["Brandenburg"]}}</p>
        <p>Bremen:                 {{land["Bremen"]}}</p>
        <p>Hamburg:                {{land["Hamburg"]}}</p>
        <p>Hessen:                 {{land["Hessen"]}}</p>
        <p>Mecklenburg-Vorpommern: {{land["Mecklenburg-Vorpommern"]}}</p>
        <p>Niedersachsen:          {{land["Niedersachsen"]}}</p>
        <p>Nordrhein-Westfalen:    {{land["Nordrhein-Westfalen"]}}</p>
        <p>Rheinland-Pfalz:        {{land["Rheinland-Pfalz"]}}</p>
        <p>Saarland:               {{land["Saarland"]}}</p>
        <p>Sachsen:                {{land["Sachsen"]}}</p>
        <p>Sachsen-Anhalt:         {{land["Sachsen-Anhalt"]}}</p>
        <p>Schleswig-Holstein:     {{land["Schleswig-Holstein"]}}</p>
        <p>Thüringen:              {{land["Thüringen"]}}</p>
    </div>
</div>
{% endblock %}
