{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AVKIS - KI-Suche{% endblock %}

{% block page_content %}
<div class="german">
<div class="page-header">
    <h1>Anzahl Stopworte eingeben</h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
    </div>
<script type="text/javascript">
$(document).ready(function(){
  $("#language").val("{{language}}").change();
  var lang = $("#language").val();
  if (lang == 'english'){
  $(".german").html($(".german").html().replace(/Anzahl/g,'Enter'));
  $(".german").html($(".german").html().replace(/Stopworte/g,'Number'));
  $(".german").html($(".german").html().replace(/eingeben/g,'of Words'));
  $(".control-label").html($(".control-label").html().replace(/der/g,'the'));
  $(".germanhead").css('display','none');
  $(".englishhead").css('display','inline');
  }
  else{
  $(".german").html($(".german").html().replace(/Enter/g,'Anzahl'));
  $(".german").html($(".german").html().replace(/Number/g,'Stopworte'));
  $(".german").html($(".german").html().replace(/of Words/g,'eingeben'));
  $(".control-label").html($(".control-label").html().replace(/the/g,'der'));
  $(".germanhead").css('display','inline');
  $(".englishhead").css('display','none');
  }

  $( "#language" ).change(function() {
  var lang = $("#language").val();
   $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
    if (lang == 'english'){
      $(".german").html($(".german").html().replace(/Anzahl/g,'Enter'));
      $(".german").html($(".german").html().replace(/Stopworte/g,'Number'));
      $(".german").html($(".german").html().replace(/eingeben/g,'of Words'));
      $(".control-label").html($(".control-label").html().replace(/der/g,'the'));
      $(".germanhead").css('display','none');
      $(".englishhead").css('display','inline');
    }
    else{
      $(".german").html($(".german").html().replace(/Enter/g,'Anzahl'));
      $(".german").html($(".german").html().replace(/Number/g,'Stopworte'));
      $(".german").html($(".german").html().replace(/of Words/g,'eingeben'));
      $(".control-label").html($(".control-label").html().replace(/the/g,'der'));
      $(".germanhead").css('display','inline');
      $(".englishhead").css('display','none');
      }
      })
})
</script>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
