{% extends "base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
 $("#language").val("{{language}}").change();
 var lang = $("#language").val();
 if (lang == 'english'){
        $(".german").css('display','none');
        $(".english").css('display','inline');
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".english").css('display','none');
        $(".german").css('display','inline');
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
 $( "#language" ).change(function() {
    var lang = $("#language").val();
    if (lang == 'english'){
        $(".german").css('display','none');
        $(".english").css('display','inline');
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".english").css('display','none');
        $(".german").css('display','inline');
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
    $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });

        })

    $("#testid").submit(function() {
    if ($("#database").val().slice(-3) != '.db'){
     alert($("#database").val());
     alert("You can select only db file");
     return false;
     }

     return true;
    })

 })
 </script>
<div class="container">
<div class="german">
    <div class="page-header">
        <h1>Willkommen bei AVANDIL</h1>
    </div>

        {%if datenbank %}
            <p>Datenbank: {{datenbank}}</p>
            {%if records %}
                <p>Datens&aumltze: {{records}}</p>
            {%endif%}
        {%else%}
            <p>Keine Datenbank ausgew&aumlhlt</p>
            <form action="/set_database/" method=post enctype="multipart/form-data" id="testid">
                <input type="text" name="database_path" id="database_path">
            <button id="upload-file-btn" type="submit">Upload</button>
            </form>
        {%endif%}
        <h1>Arbeitsschritte</h1>
            <p>1. Mandant analysieren: Unterst&uumltzt beim Auffinden von mandantenspezifischen Suchworten</p>
            <p>2. KI-Suche: Crefo-Nummer und Suchworte eingeben - Erzeugt eine Liste mit KI-Vorschl&aumlgen</p>
            <p>3. KI-Suche Exportieren: Erzeugt Spreadsheet mit Suchergebnissen (Vorher mu&suml eine KI-Suche durchgef&uumlhrt werden !)</p>
            <p>4. Ergebnisliste dann in Markus weiterbearbeiten zur Eingrenzung von Region und Gr&oumlssenordnungen (Umsatz, Mitarbeiter)</p>

</div>


<div class="english" style="display:none">
    <div class="page-header">
        <h1>Welcome to AVANDIL</h1>
    </div>

        {%if datenbank %}
            <p>Database: {{datenbank}}</p>
            {%if records %}
                <p>Database Size: {{records}}</p>
            {%endif%}
        {%else%}
            <p>No Database Selected</p>
        {%endif%}
        <h1>Work Steps</h1>
            <p>1. Analyse client: supports identification of client-specific key words</p>
            <p>2. Investor search: Enter Crefo-number and key words - generates a list with potential investors</p>
            <p>3. Export Invsetor list: Generates a spreadsheet with search results (you have to run an investor search beforehand) !)</p>
            <p>4. Result list has then to be prepared further in the external Markus database in order to filter for regions business size (Tunrover, Employees)</p>

</div>
</div>


{% endblock %}

{% block admin %}
{% if language == 'german' %}
{% if is_admin %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Datenbank &oumlffnen</a></li>
            <li><a href="/Datenbank_Zeigen">Datenbank anzeigen</a></li>
            <li><a href="/Datenbank_Summary">Datenbank Summary</a></li>
            <li><a href="/Create_Stopwords">Stopw&oumlrter erzeugen</a></li>
            <li><a href="{{url_for("auth.register")}}">User anlegen</a></li>
            <li><a href="/auth/change_password">Change Password</a></li>
            <li><a href="/auth/logout">Logout ({{ user }})</a></li>
        </ul>
    </li>
{% endif %}
{% else %}
{% if is_admin %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Open Database</a></li>
            <li><a href="/Datenbank_Zeigen">Show Database</a></li>
            <li><a href="/Datenbank_Summary">Database Summary</a></li>
            <li><a href="/Create_Stopwords">Show Stop Words</a></li>
            <li><a href="{{url_for("auth.register")}}">Create User</a></li>
            <li><a href="/change_password">Change Password</a></li>
            <li><a href="/auth/logout">Logout ({{ user }})</a></li>
        </ul>
    </li>
{% endif %}

{% endif %}
<script type="text/javascript">
    </script>
{% endblock %}
