{% extends "base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready(function(){
  if ("{{is_admin}}"){
   if("{{language}}" == "german"){
   var admin_tab = $("#admin_tab_german").html();
   $(admin_tab).insertAfter("#language")
   }
   else{
   var admin_tab = $("#admin_tab_english").html();
   $(admin_tab).insertAfter("#language")
   }
   }
   $("#admin_tab_german").remove();
   $("#admin_tab_english").remove();
  $("#language").val("{{language}}").change();
  lang = $("#language").val();
  if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
   else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
    $( "#language" ).change(function() {
   var lang = $("#language").val();
   $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
    lang = $("#language").val();
    if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
});
  })
</script>
<li class="dropdown" id="admin_tab_german">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Datenbank &oumlffnen</a></li>
            <li><a href="/Datenbank_Zeigen">Datenbank anzeigen</a></li>
            <li><a href="/Datenbank_Summary">Datenbank Summary</a></li>
            <li><a href="/Create_Stopwords">Stopw&oumlrter erzeugen</a></li>
            <li><a href="{{url_for("auth.register")}}">User anlegen</a></li>
            <li><a href="/auth/change_password">Change Password</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </li>
<li class="dropdown" id="admin_tab_english">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Open Database</a></li>
            <li><a href="/Datenbank_Zeigen">Show Database</a></li>
            <li><a href="/Datenbank_Summary">Database Summary</a></li>
            <li><a href="/Create_Stopwords">Show Stop Words</a></li>
            <li><a href="{{url_for("auth.register")}}">Create User</a></li>
            <li><a href="/change_password">Change Password</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </li>
<div class=page>
  <h1>Maschinelles KI-Matching</h1>
  {{ items.to_html(classes="table table-striped") | safe}}
</div>{% endblock %}
