{% extends "base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<div class=page>
  <h1>Auswertung nexxt-change</h1>
  {{ items.to_html(classes="table table-striped") | safe}}
</div>{% endblock %}
