{% extends "base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type="text/javascript">
$(document).ready(function(){
     $("#language").val("{{language}}").change();
   var lang = $("#language").val();
    if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }

     $( "#language" ).change(function() {
   var lang = $("#language").val();
   $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
    lang = $("#language").val();
    if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
});

     })
</script>
<head> 
    <style type="text/css">
        table{margin-left: 20px; margin-right: 20px; border: thin solid black;}
        td, th {padding: 5px; border: 1px solid black}
    </style>
</head>
<body>
    <table>
        <tr>
         <th>&ensp;AID</th>
         <th>&ensp;Firma</th>
         <th>&ensp;Taetigkeit</th>
        </tr>
        {% for item in items %}
            <tr>
               <td>&ensp;{{item[0]}}</td>
               <td>&ensp;{{item[1]}}</td>
               <td>&ensp;{{item[2]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
