{% extends "base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready(function(){

  $('tr').each(function (index, value) {
      var word = $(this).children("th").next().html();
      if(word!="Wort"){
      var a = word+"&nbsp;<input type='checkbox' value='"+word+"' "+"name="+word+"' class='chkboxword'>";
      $(this).children("th").next().html(a);
      }
    });

    $("#chkbox").click( function(){
    var selecteditems = "";
      $("input:checked").each(function (i, ob) {
        selecteditems=selecteditems+","
        selecteditems=selecteditems+$(ob).val();
    });
    if(selecteditems.length > 0){
    var select_final = "/KI_Suche/?autofill_val="+selecteditems;
    $("#chkbox").attr("href",select_final);
    }
    else{
    alert("No words selected. Select the words");
    }
    })



  $("#language").val("{{language}}").change();
  lang = $("#language").val();
  if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
   else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
    $( "#language" ).change(function() {
   var lang = $("#language").val();
   $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });
    lang = $("#language").val();
    if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
});
  })
</script>
<head> 
    <style type="text/css">
        body{line-height: 1.6em;}
        h1{margin-left: 10px; color: maroon;border-bottom: 1px solid gray;}
        h2{margin-left: 20px; color: maroon;}
        p {margin-left: 20px; margin-right: 20px; }
        table{margin-left: 20px; margin-right: 20px; border: thin solid black;}
        td, th {padding: 5px; border: 1px solid black}
    </style>
</head>
<h1>KI-Suche - Firma anzeigen</h1>
<body>
    <h2>{{aid}} - {{name}}</h2>
    <p>{{strasse}} </p>
    <p>{{plz}} - {{ort}}</p>
    <p>Landkreis: {{landkreis}} </p>
    <p>Bundesland: {{bundesland}} </p>
    <p>Land: {{land}} </p>
    <p>Website: {{website}} </p>
    <p>Hauptbranche: {{bch}}   Nebenbranche: {{bcn}}</p>
    <p>T&aumltigkeit: {{ttg}} </p>
    <p>Worte auf der Website: {{keywords}} </p>
    <div class=page>
      <h1>Auswertung der Website <a id="chkbox">Go to KI Suche</a></h1>
      {{ webinhalt.to_html(classes="table table-striped") | safe}}
    </div>
</body>
{% endblock %}
